$color-site-background: #ececec !default;
$color-site-text: #444 !default;

@include fontface('Montserrat', 'montserrat-regular');
@include fontface('Montserrat', 'montserrat-medium', 500);
@include fontface('Montserrat', 'montserrat-semibold', 600);
@include fontface('Montserrat', 'montserrat-bold', 700);

* {
    box-sizing: border-box;

    &::before,
    &::after {
        box-sizing: border-box;
    }
}

body,
html {
    background: $color-site-background;
    line-height: 1.45;
}

body,
button,
input,
select,
textarea {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: $color-site-text;
}

svg {
    pointer-events: none;
    display: block;
}

.sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}