$color-white: #fff;
$color-black: #000;

$color-gray-darker: #444;
$color-gray-dark: #777;
$color-gray: #bbb;
$color-gray-light: #ccc;
$color-gray-lighter: #ddd;
$color-gray-lightest: #ececec;

$color-green: #00dbb1;
$color-green-light: #9ddad4;
$color-green-lighter: #c3f3f8;

$color-sea: #38787a;

$color-red: #e00;
$color-red-light: #d94141;
$color-red-lighter: #da5f5e;

