$color-white: #fff;
$color-black: #000;

$color-gray-darker: #444;
$color-gray-dark: #777;
$color-gray: #bbb;
$color-gray-light: #ccc;
$color-gray-lighter: #ddd;
$color-gray-lightest: #ececec;

$color-green: #00dbb1;
$color-green-light: #9ddad4;
$color-green-lighter: #c3f3f8;

$color-sea: #38787a;

$color-red: #e00;
$color-red-light: #d94141;
$color-red-lighter: #da5f5e;

$color-purple: #8e44ad;
$color-purple-light: #e3ace6;

// Example of theming datepicker component

//$reservation-color-datepicker-arrow-background: $color-purple;
//
//$datepicker-color-change-month-arrow: $color-white;
//$datepicker-color-header-background: $color-purple;
//$datepicker-color-day-marked-text: $color-purple;
//$datepicker-color-day-marked-background: $color-purple-light;
//$datepicker-color-day-today-border: $color-purple;
//$datepicker-color-day-today-text: $color-purple;
//$datepicker-color-day-first-last-marked-background: $color-purple;